name: 'deploy-container'
on:
  push:
    branches:
      - main
    paths:
      - "/container_ecom/**"
defaults:
  run:
    working-directory: 'container_ecom'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: npm install
      - run: npm run build